html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: #FFF8F0;
    width: 100%;
    height: 100%;
}

*, :before, :after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

a:hover {
    text-decoration: underline #FCB07E;
}


/* HEADER */

.hero-title {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #3581B8;
    text-decoration: none;
    /* border-bottom: 5px solid darkslategrey; */
}

.hero-title h1 {
    margin: .25em;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr .5fr;
}

.header-container {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
    margin: 2.5em;
}

#project-search {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.login-container {
    margin-left: 1em;
}

.login-container a {
    display: inline-flex;
    margin-top: 30px;
    background-color: #3581B8;
    border-radius: 5px;
    padding: 10px;
    color: #FFF8F0;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline #FCB07E;
}

nav {
    grid-column: 1 / span 2;
    border: none;
    background-color: rgb(252, 176, 126, 0.25);
    width: 100%;
    /* border-top: solid 2px darkslategrey;
    border-bottom: solid 2px darkslategrey; */
    /* width: 95%; */
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

nav li {
    display: inline;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}


/* HOME FEATURED PROJECTS */

.featured-title {
    text-align: center;
    font-size: 3em;
}

.featured-projects {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 4em;
}

.featured-projects li {
    margin: 1em;
    padding: 2em 4em;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    /* border: solid 2px darkslategray; */
}

.project-image {
    width: 80%;
}

.stats-link {
    margin: 1em;
}

.stats-link:hover {
    font-weight: bold;
}

/* LOGIN PAGE */

.login-form-center {
    text-align: center;
}

.login-form-container {
    display: inline-block;
    padding: 2em;
    margin: 2em;
    border: solid 2px darkslategrey;
    border-radius: 10%;
}

/* SIGN UP PAGE */

.sign-in-container {
    text-align: center;
}

.sign-in-form {
    display: inline-block;
    padding: 2em 8em;
    margin: 2em;
    background-color: #3581B8;
    color: #FFF8F0;
    border: solid 2px darkslategrey;
    border-radius: 5%;
}

.field-area {
    display: flex;
    flex-direction: column;
}

.field-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline;
    padding: .25em;
    margin-top: 1.5em;
}

  /* Tooltip text */
.tooltip .tooltiptext {
    width: 25em;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* CREATE A PROJECT PAGE */

.create-project-form {
    display: inline-block;
    padding: 2em 8em;
    margin: 2em;
    background-color: #3581B8;
    color: #FFF8F0;
    border: solid 2px darkslategrey;
    border-radius: 5%;
}

.create-project-container {
    text-align: center;
}

.sign-in-form {
    display: inline-block;
    padding: 2em 8em;
    margin: 2em;
    background-color: #3581B8;
    color: #FFF8F0;
    border: solid 2px darkslategrey;
    border-radius: 5%;
}

.field-area {
    display: flex;
    flex-direction: column;
}

.field-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* PROJECT CATEGORIES */

/* Styled with HOME PAGE Project styling */

.no-projects {
    text-align: center;
}

/* PROJECT PAGE */

.heading {
    font-size: 1.5em;
}
.goal-heading {
    border: 0.25em solid #FCB07E;
    border-radius: 10px;
    margin: 0 2em 2em 2em;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
}

.project-container {
    margin: 0 12em;
}

.project-container img.project-image {
    width: 100%;
    border: solid 1px black;
}

.project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-info div {
    padding: 0 2em 2em 2em;
}

.title {
    font-size: 2em;
    padding: 0 1.5em;
    margin: 0;
}

h4.title {
    padding: 0;
}

.reward-list {
    list-style: none;
    padding: 0;
}

.reward-container {
    border: 0.25em solid #3581B8;
    padding: 1em 3em;
    margin: .25em;
    border-radius: 10px;
}

.reward-title {
    font-size: 1.5em;
    text-decoration: underline;
    margin: 0;
}

.reward-button {
    background: #FCB07E;
    color: darkslategrey;
    padding: 1em;
    font-size: 1em;
    border-radius: 10px;
}

.reward-button:hover {
    background: #3581B8;
    cursor: pointer;
    color: #FCB07E;
}

.create-reward-container {
    text-align: center;
}

.create-reward-container h3 {
    font-size: 2em;
    margin: 3em 0 0 0;
    text-decoration: underline;
}

.create-reward-container form {
    display: inline-block;
    padding: 2em 8em;
    margin: 2em;
    border: solid 3px #3581B8;
    border-radius: 5%;
}

.add-reward-button {
    background: #FCB07E;
    color: darkslategrey;
    padding: 1em;
    font-size: .75em;
    border-radius: 10px;
}

.add-reward-button:hover {
    background: #3581B8;
    cursor: pointer;
    color: #FCB07E;
}

.delete-project-button {
    background: #FCB07E;
    color: darkslategrey;
    margin: 3em 0;
    padding: 1em;
    font-size: 1em;
    border-radius: 10px;
}

.delete-project-button:hover {
    background: red;
    cursor: pointer;
}

/* PROFILE */

.profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.profile-container {
    grid-column: 1 / span 1;
    padding: 0 2em;
}

.profile-container h2 {
    font-size: 2em;
    padding-bottom: 1em;
}

.profile-container p {
    margin: 0;
}

.profile-projects-container {
    grid-column: 2 / span 1;
    margin: 1em 2em;
}

.profile-projects-container h1 {
    font-size: 2em;
    text-decoration: underline #FCB07E;
    text-align: center;
}

.profile-projects-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.profile-projects-container li {
    margin: 1em;
    padding: 2em 4em;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.profile-projects-container img {
    width: 80%;
}


.contribution-container {
    grid-column: 2 / span 1;
    margin: 0 auto;
}

.contribution-container h3 {
    font-size: 2em;
    text-decoration: underline #FCB07E;
    text-align: center;
}

.contribution-container ul {
    list-style: none;
    border: 0.25em solid #3581B8;
    padding: 1em 3em;
    border-radius: 10px;
}

/* STATS PAGES */

.success-links {
    text-align: center;
}

.success-links h2 {
    display: inline;
    padding: 0 1em;
}

.total-raised-container p {
    text-align: center;
}

.stats-titles {
    margin-left: 2em;
}


/* FOOTER */

footer {
    background-color: rgb(252, 176, 126, 0.25);
    color: darkslategrey;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5em;
}
