<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet"  href="{% static 'css/styles.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <a class="hero-title" href="{% url 'home' %}"><h1>Crowdfunder</h1></a>
        <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'profile' id=user.pk %}">Profile</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
        <a href="{% url 'create_project' %}">Create A Project</a>
        </div>  
        <nav>
            {% for category in categories %}
            <ul>
                <li>
                    <a href="{% url 'categories' category_id=category.pk %}">{{ category.name }}</a>
                </li>
            </ul>
            {% endfor %}
        </nav>
    </header>
    <main>
        <form action="{% url 'search' %}" method="get">
            <label for="project-search">
                <span>Find a Project:</span>
                <input type="search" id="project-search" name="query" value="{{ query }}"/>
            </label>
            <input type="submit" value="Search"/>
        </form>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        Copyright Brjaci 2019
    </footer>
</body>
</html>