{% extends 'base.html' %}
{% block content %}

<h2>{{ project.title }}</h2>
<h4>Goal: {{ project.goal }}</h4>
<h5>Started on: {{ project.start_date }}</h5>
<h5>Ends on: {{ project.end_date }}</h5>
<h3>Amount Raised: {{ project.total_fund }}</h3>

<h3>Rewards:</h3>

{% for reward in project.rewards.all %}
<ul>
    <li>
        <a href="#">{{ reward.title }}</a>
        <p>{{ reward.description }}</p>
        <p>${{ reward.amount }}</p>
    </li>
</ul>
{% endfor %}

{% if project.owner == user %}
<form method = 'POST' action="{% url 'add_reward' id=project.pk %}">
    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit">Add Reward</button>
</form>
{% endif %}

{% endblock %}