{% extends 'base.html' %}
{% block content %}
{% if error %}
{{ error }}
{% endif %}

    <div class="project-container">
        <h2 class="featured-title">{{ project.title }}</h2>
        <h4 class="title">Goal: ${{ project.goal }}</h4>
        <h3>Created By: <a href="{% url 'profile' id=project.owner.pk %}">{{ project.owner }}</a></h3>
        <img class="project-image" src="{{ project.image.url }}" alt="Project Image">
        <div class="project-info">
            <div>
                <h3 class="heading">Days Remaining: {{ project.countdown }}</h3>
                <p>Started on: {{ project.start_date }}</p>
                <p>Ends on: {{ project.end_date }}</p>
            </div>
            <div>
                <h3 class="heading">Amount Raised: ${{ project.total_contributions }}</h3>
                <p>Category: {{ project.category.name }}</p>
            </div>
        </div>

        {% if request.user.username in project.project_contributors %}
        <h6>* You have already contributed to this project *</h6>
        {% endif %}

        {% if project.expired_project == True %}
        {% if project.goal_reached == True %}
        <h3 class="goal-heading">Project goal has been reached!</h3>
        {% else %}
        <h3 class="goal-heading">Project goal has not been reached.</h3>
        {% endif %}
        {% endif %}

        <h3 class="title">Rewards</h3>
        <ul class="reward-list">
            {% for reward in project.rewards.all %}
                <li class="reward-container">
                    <p class="reward-title">{{ reward.title }}</p>
                    <p>{{ reward.description }}</p>
                    <p>${{ reward.amount }}</p>
                    {% if reward.limit >= 1 %}
                    <p>Limit: {{ reward.limit }}</p>
                    <p>{{ reward.total_purchased }} Backers</p>
                    {% endif %}
                    {% if project.owner != user %}
                    {% if project.expired_project == False %}
                    {% if reward.available %}
                    <form action="{% url 'back_project' project_id=project.id reward_id=reward.id %}" method="POST">
                        {% csrf_token %}
                        <button class="reward-button" type="submit">Choose This Reward</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if project.owner == user %}
            <div class="create-reward-container">
                <h3>Add Rewards</h3>
                <form method = 'POST' action="{% url 'add_reward' project_id=project.pk %}">
                    {% csrf_token %}
                    <div class="field-area">
                        {% for field in form %}
                            <div class="field-container">
                                <p>{{ field.name }}:</br>{{ field }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="add-reward-button" type="submit">+ Add Reward</button>
                </form>
            </div>
            <form method='POST' action="{% url 'delete_project' project_id=project.pk %}">
                {% csrf_token %}
                <button class="delete-project-button" type="submit">Delete This Project</button>
            </form>
        {% endif %}

        <p class="heading">See other projects by this creator!</p>
        {% for project in projects %}
        <ul class="reward-list">
            <li>
                <a href="{% url 'display_project' project_id=project.id %}">{{ project.title }}</a>
            </li>
        </ul>
        {% endfor %}
    </div>
{% endblock %}