{% extends 'base.html' %}

{% block content %}
    <h2 class="featured-title">ACTIVE PROJECTS</h2>
    <ul class="featured-projects">
        {% for project in active_projects %}
            <li>
                <img class="project-image" src="{{ project.image.url }}">
                <h3><a href="{% url 'display_project' project_id=project.pk %}">{{ project.title }}</a></h3>
                <p>Goal: ${{ project.goal }}</p>
                <p>Category: {{ project.category.name }}</p>
                <p>Description: {{ project.description }}</p>
                <p>Start Date: {{ project.start_date }}</p>
                <p>End Date: {{ project.end_date }}</p>
            </li>
        {% endfor %}
    </ul>
    <a class="stats-link" href="{% url 'stats' %}">Site Stats</a>
{% endblock %}