{% extends 'base.html' %}

{% block content %}
    <section class="profile">
        <div class="profile-container">
            <h2>{{ user.username }}</h2>
            <h3>About</h3>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Bio: {{ user.bio }}</p>
        </div>
    
        <div class="profile-projects-container">
            <h1>My Projects</h1>
            <ul>
                {% for project in user.projects.all %}
                    <li>
                        <img class="project-image" src="{{ project.image.url }}">
                        <h3><a href="{% url 'display_project' project_id=project.pk %}">Title: {{ project.title }}</a></h3>
                        <p>Goal: {{ project.goal }}</p>
                        <p>Category: {{ project.category.name }}</p>
                        <p>Description: {{ project.description }}</p>
                        <p>Start Date: {{ project.start_date }}</p>
                        <p>End Date: {{ project.end_date }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <div class="contribution-container">
            <h3>Contributions</h3>
            <ul>
                <h4>My Total Contributions: ${{ user.total_contributions }}</h4>
                {% for contribution in user.contributions.all %}
                    <li>
                        <a href="{% url 'display_project' project_id=contribution.project.pk %}">Project: {{ contribution.project.title }}</a> - Amount: ${{ contribution.reward.amount }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}