{% extends 'base.html' %}

{% block content %}
    <h2>{{ user.username }}'s Profile</h2>

    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    <h3>Projects</h3>
    {% for project in user.projects.all %}
        <ul>
            <li>
                <a href="{% url 'display_project' project_id=project.pk %}">Title: {{ project.title }}</a>
                <p>Goal: {{ project.goal }}</p>
                <p>Description: {{ project.description }}</p>
                <p>Start Date: {{ project.start_date }}</p>
                <p>End Date: {{ project.end_date }}</p>
            </li>
        </ul>
    {% endfor %}

    <h3>Contributions</h3>
    {% for contribution in user.contributions.all %}
        <ul>
            <li>
                <a href="{% url 'display_project' project_id=contribution.project.pk %}">Project: {{ contribution.project.title }}</a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}