{% extends 'base.html' %}

{% block content %}
    <h2 class="featured-title">CROWDFUNDER STATS</h2>
    <div class="total-raised-container">
        <div class="success-links">
            <h2><a href="{% url 'success' %}">Successful Projects</a></h2>
            <h2><a href="{% url 'unsuccessful' %}">Unsuccessful Projects</a></h2>
        </div>
        <p>Total Money Raised: $ {{ gt }}</p>
        <p>Total Number of Funded Projects: {{ funded }}</p>
        <p>Percentage of Projects Funded: {{ percentage_funded }} %</p>
        <p>Percentage of Projects Failed: {{ percentage_failed }} %</p>
        <p>Percentage of Projects In Progress: {{ percentage_in_progress}} %</p>
    </div>
{% endblock %}