{% extends 'base.html' %}

{% block content %}
    <div class="stats-titles">
        <h2>Successful Projects</h2>
        <h4>All of the following projects met their goal!</h4>
    </div>
    <ul class="featured-projects">
        {% for project in projects %}
            <li>
                <a href="{% url 'display_project' project_id=project.pk %}">Title: {{ project.title }}</a>
                <p>Goal: {{ project.goal }}</p>
                <p>Description: {{ project.description }}</p>
            </li>
        {% endfor %}
    </ul>
    <a class="stats-link" href="{% url 'stats' %}">back</a>
{% endblock %}